@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BetterDocsBlock.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);

:root {
	--dtransparencycolor: 0,0,0;
	--dtransparencyalpha: 0.15;
	--dmessagetransparency: 0.5;
	--dguildchanneltransparency: 0.15;
	--dmemberlistransparency: 0.0;
	--daccentcolor: 190,78,180;
	--dbackground: url(https://mwittrien.github.io/BetterDiscordAddons/ThemesV2/BasicBackground/background.jpg);
	--dbackgroundsize: cover;
	--dbackdrop: rgba(0,0,0,0.4);
	--dblur: 0px;
	--vtransparencycolor: var(--transparencycolor,var(--dtransparencycolor));
	--vtransparencyalpha: var(--transparencyalpha,var(--dtransparencyalpha));
	--vmessagetransparency: var(--messagetransparency,var(--dmessagetransparency));
	--vguildchanneltransparency: var(--guildchanneltransparency,var(--dguildchanneltransparency));
	--vmemberlistransparency: var(--memberlistransparency,var(--dmemberlistransparency));
	--vaccentcolor: var(--accentcolor,var(--daccentcolor));
	--vlinkcolor: var(--vaccentcolor);
	--vbackground: var(--background,var(--dbackground));
	--vbackgroundsize: var(--backgroundsize,var(--dbackgroundsize));
	--vbackdrop: var(--backdrop,var(--dbackdrop));
	--vbackgroundblur: var(--backgroundblur,var(--dblur));
	--vpopoutblur: var(--popoutblur,var(--dblur));
	--vbackdropblur: var(--backdropblur,var(--dblur));
}
